* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat' sans-serif;
}

.center{
  padding-left: calc(50% - 720px);
  padding-right: calc(50% - 720px);
}

a {
  text-decoration: none;
}

.top{
  width: 1440px;
  height: 1024px;
  background-image: url(image/Rectangle\ 1.jpg);
  background-position: center;
}

.header{
  padding-top: 217px;
  padding-bottom: 32px;
}

.heading{
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
  width: 610px;
  height: 125px;
  display: flex;
  align-items: center;
  padding-bottom: 32px;
}

.top_text{
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #9e9e9e;
  width: 400px;
  height: 64px;
  align-items: center;
}

.colortext{
  color: #FFFFFF;
}

.button{
  background: #9C0332;
  border-radius: 30px;
  width: 234.06px;
  height: 48.6px;
  margin-top: 44px;
}

.buttontext{
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  padding-left: 74px;
  padding-right: 74px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.middle{
  background-image: url(image/Rectangle\ 5.jpg);
  background-position: center;
  width: 1440px;
  height: 556px;
  background: #000915;
  display: flex;
  gap: 32px;
  padding-top: 128px;
  justify-content: center;
}

